{% for house in houses %}
    {% if house.id|divisibleby:2  %}
        <div class="card blue-card bg-dark-blue shadow" onclick="window.location = '{% url 'index:apartment' house.apartment.slug %}'" style="cursor: pointer">
            <div class="card-main-section">
              <div class="card-image-container">
                  <img loading="lazy" src="{{house.apartment_main_photo.url}}" alt="image">
              </div>
              <div class="card-main-section-content">
                <span class="card-main-content-title color-white">
                  {{house.apartment.title.upper}}
                </span>
                <span class="card-main-content-description color-white">
                  {{house.apartment_description|linebreaks}}
                </span>
                <div class="card-main-section-content-footer">
                  <span class="card-main-daily-price color-white">Цена: {{house.apartment.daily_price | floatformat}} BYN / сутки</span>
                  <a href="{% url 'booking:booking' %}?apartment={{ house.id }}" class="card-main-btn-book bg-white color-dark-blue">ЗАБРОНИРОВАТЬ</a>
                </div>
              </div>
            </div>
            <div class="card-main-section-third bg-dark-blue shadow"></div>
            <div class="card-main-section-second bg-dark-blue shadow"></div>
          </div>
    {% else %}
        <div class="card blue-card bg-white shadow" onclick="window.location = '{% url 'index:apartment' house.apartment.slug %}'" style="cursor: pointer">
            <div class="card-main-section">
              <div class="card-image-container">
                  <img loading="lazy" src="{{house.apartment_main_photo.url}}" alt="image">
              </div>
              <div class="card-main-section-content">
                <span class="card-main-content-title color-dark-blue">
                  {{house.apartment.title.upper}}
                </span>
                <span class="card-main-content-description color-dark-blue">
                  {{house.apartment_description|linebreaks}}
                </span>
                <div class="card-main-section-content-footer">
                  <span class="card-main-daily-price color-dark-blue">Цена: {{house.apartment.daily_price | floatformat}} BYN / сутки</span>
                  <a href="{% url 'booking:booking' %}?apartment={{ house.id }}" class="card-main-btn-book bg-dark-blue color-white">ЗАБРОНИРОВАТЬ</a>
                </div>
              </div>
            </div>
            <div class="card-main-section-third bg-white shadow"></div>
            <div class="card-main-section-second bg-white shadow"></div>
          </div>
    {% endif %}
{% endfor %}
