{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Это идеальное место для отдыха и проведения свободного времени. Мы предлагаем уютные апартаменты, красивый парк живописными аллеями и рекой, а также различные услуги.">    

    <link rel="icon" href="{% static 'svg/NazareLogo-icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal-container.css' %}">

    {% block link %}
    {% endblock link %}

    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}" >
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />

    <script src="{% static 'js/is-valid-date.js' %}"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>
    <script src="{% static 'js/constants.js' %}"></script>
    <script src="{% static 'js/processing-subscribe-form.js' %}"></script>
    <script src="{% static 'js/processing-callback-form.js' %}"></script>
    <script src="{% static 'js/modal-active-inactive.js' %}"></script>
    <script src="{% static 'js/disable-button-enter-for-forms.js' %}" ></script>
    <script src="{% static 'js/api_requests.js' %}"></script>
    <script src="{% static 'ajax/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'ajax/moment-with-locales.min.js' %}"></script>

    <script src="{% static 'js/yandex_metrika.js' %}" defer></script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94565440" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>

<body>
    {% include "base/preloader.html" %}
    {% include "base/viber.html" %}

    <header>
        {% block header %}
        {% include "base/header.html" %}
        {% endblock header%}
    </header>

    {% include "base/base_nav_menu.html" %}
    {% include 'base/callback.html' %}
    {% include 'base/subscribe-captcha.html' %}

    <main class="padding-for-main">
        {% block main %}
        {% endblock main%}
    </main>

    <footer>
        {% block footer%}
        {% include "base/footer.html" %}
        {% endblock footer%}
    </footer>

    <script src="{% static 'js/nav-mobile.js' %}"></script>

    {% block script %}
    {% endblock script %}

</body>

<script src="{% static 'js/reCaptcha.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.js"></script>
<script src="https://www.google.com/recaptcha/api.js" defer></script>

</html>
