{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Это идеальное место для отдыха и проведения свободного времени. Мы предлагаем уютные апартаменты, красивый парк живописными аллеями и рекой, а также различные услуги.">    

    <link rel="icon" href="{% static 'svg/NazareLogo-icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/nav-mobile.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/modal-container.css' %}?v=1">

    {% block link %}
    {% endblock link %}
    
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}?v=1" >
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/brands.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/regular.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}?v=1">

    <script src="https://simple-notify.github.io/simple-notify/dist/simple-notify.min.js"></script>
    <link rel="preload" href="https://simple-notify.github.io/simple-notify/dist/simple-notify.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://simple-notify.github.io/simple-notify/dist/simple-notify.css"></noscript>

    <script src="{% static 'js/is-valid-date.js' %}?v=1.2"></script>
    <script src="{% static 'js/preloader.js' %}?v=1"></script>
    <script src="{% static 'js/notification.js' %}?v=1"></script>
    <script src="{% static 'js/constants.js' %}?v=1.3"></script>
    <script src="{% static 'js/processing-subscribe-form.js' %}?v=1.4" defer></script>
    <script src="{% static 'js/processing-callback-form.js' %}?v=1.3"></script>
    <script src="{% static 'js/modal-active-inactive.js' %}?v=1.2"></script>
    <script src="{% static 'js/disable-button-enter-for-forms.js' %}?v=1" ></script>
    <script src="{% static 'js/api_requests.js' %}?v=1.3"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>

    <script src="{% static 'js/yandex_metrika.js' %}?v=1" defer></script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94565440" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>

<body>
    {% include "base/preloader.html" %}
    {% include "base/viber.html" %}

    <header>
        {% block header %}
        {% include "base/header.html" %}
        {% endblock header%}
    </header>

    {% include "base/base_nav_menu.html" %}
    {% include 'base/callback.html' %}
    {% include 'base/subscribe-captcha.html' %}

    <main class="padding-for-main">
        {% block main %}
        {% endblock main%}
    </main>

    <footer>
        {% block footer%}
        {% include "base/footer.html" %}
        {% endblock footer%}
    </footer>

    <script src="{% static 'js/nav-mobile.js' %}"></script>

    {% block script %}
    {% endblock script %}

</body>

<script src="{% static 'js/reCaptcha.js' %}?v=1.2" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.js"></script>
<script src="https://www.google.com/recaptcha/api.js" defer></script>

</html>
