{% load static %}
<section class="modal-container" id="callbackModal">
    <div class="container">
        <div class="modal-items">
            <div class="modal-close-btn" onclick="closeModal('callbackModal')">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <span class="modal-title">ЗАКАЗАТЬ ЗВОНОК</span>
            <form action="{% url 'index:callback' %}" method="POST" class="modal-form" id="callbackForm">
                <input type="text" class="modal-form-input" id="name" placeholder="ИМЯ">
                <input type="text" class="modal-form-input" id="phone" placeholder="ТЕЛЕФОН">
                <span class="modal-form-btn" onclick="handleCallback('{{ csrf_token }}')">ЗАКАЗАТЬ</span>
            </form>
            <div class="footer-form">
                <input id="callback-privacy_policy" type="checkbox" name="">
                <span>Я даю согласие на <a class="url-decorate-underline" href="{% url 'index:policy' %}" target="_blank">обработку персональных данных</a></span>
            </div>
            <div class="g-recaptcha" id="callback-recaptcha" data-sitekey="{{ recaptcha_public_key }}" data-callback="handleCallbackCaptcha" style="width: fit-content"></div>
        </div>
    </div>
</section>