{% load static %}
    <div class="footer-main main-padding">
        <div class="footer-main-containers">
            <div class="footer-main-section">
                <div class="footer-main-container">
                    <div class="footer-main-logo" onclick="window.location='{% url "index:index" %}'">
                        <img src="{% static 'svg/NazareLogo.svg' %}" alt="logo">
                    </div>
                </div>

                <div class="footer-main-container">
                    <ul class="footer-main-nav-list">
                        <li>
                            <a class="footer-main-nav-list-link" href="{% url 'index:category' 'about' %}">
                                О нас
                            </a>
                        </li>
                        <li>
                            <a class="footer-main-nav-list-link" href="{% url 'index:category' 'apartments' %}">
                                Апартаменты
                            </a>
                        </li>
                        <li>
                            <a class="footer-main-nav-list-link" href="{% url 'index:category' 'services' %}">
                                Услуги
                            </a>
                        </li>
                        <li>
                            <a class="footer-main-nav-list-link" href="{% url 'index:category' 'gallery' %}">
                                Галерея
                            </a>
                        </li>
                        <li>
                            <a class="footer-main-nav-list-link" href="{% url 'index:contact' %}">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-main-container">
                    <div class="footer-main-container-items">
                        <div class="footer-main-container-item">
                            <i class="fa-solid fa-location-dot"></i>
                            <span class="footer-main-container-title">
                                210516, Республика Беларусь, г. Витебск, Мазоловский сельсовет 63
                            </span>
                        </div>
                        <div class="footer-main-container-item">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:info@nazare.by" class="footer-main-container-title">
                                info@nazare.by
                            </a>
                        </div>
                        <div class="footer-main-container-item">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:+375291699106" class="footer-main-container-title">
                                +375 29 169 91 06
                            </a>
                        </div>
                        <div class="footer-main-container-social-contacts">
                            <div class="footer-main-social-contact cursor-pointer" onclick="openViberModal()">
                                <i class="fa-brands fa-viber"></i>
                            </div>
                            <a class="footer-main-social-contact" href="https://t.me/nazareby" target="_blank" aria-label="telegram">
                                <i class="fa-brands fa-telegram"></i>
                            </a>
                            <a class="footer-main-social-contact" href="https://wa.me/375291699106" target="_blank" aria-label="whatsapp">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer-main-container">
                    <div class="footer-main-mailing">
                        <span class="footer-main-mailing-title">
                            ПОДПИСКА НА РАССЫЛКУ
                        </span>
                        <form method="POST" class="footer-main-mailing-form" id="mailingForm">
                            {% csrf_token %}
                            <input type="email" id="input-mail" class="footer-main-mailing-input" placeholder="ВАШ E-MAIL">
                            <span class="footer-main-mailing-btn" onclick="openSubscribeModal()">
                                ПОДПИСАТЬСЯ
                            </span>
                        </form>
                    </div>

                    <div class="footer-main-follow">
                        <span class="footer-main-follow-title">
                            СЛЕДИ ЗА НАМИ
                        </span>
                        <div class="footer-main-follow-socials">
                            <a href="https://www.instagram.com/na_zare.by/" class="footer-main-follow-social" target="_blank" aria-label="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="booking-payments-section">
                <img src="{% static 'img/payments_methods/white-01.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-02.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-03.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-04.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-05.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-06.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-07.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-08.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-09.png' %}" alt="">
                <img src="{% static 'img/payments_methods/white-10.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="footer-secondary main-padding">
        <div class="footer-secondary-items">
            <span>&copy; NA ZARE {% now "Y" %} Все права защищены</span>
            <a href="https://lilscottypippen.vercel.app" target="_blank">
                Разработано: LilScottyPippen
            </a>
            <a href="{% url 'index:policy' %}">Политика конфиденциальности</a>
        </div>
    </div>
