{% load static %}
    <nav class="nav-container main-padding">
        <div class="nav-left">
            <div class="nav-logo" onclick="window.location='{% url 'index:index' %}'">
                <img src="{% static 'svg/NazareLogo.svg' %}" alt="logo">
            </div>
        </div>

        <div class="nav-right">
            <div class="nav-right-container">
                <div class="nav-right-top-container">
                    <span class="nav-btn-call" onclick="openCallbackModal()">
                        ЗАКАЗАТЬ ЗВОНОК
                    </span>
                    <span class="nav-btn-book" onclick="window.location = '{% url "booking:booking" %}'">
                        ЗАБРОНИРОВАТЬ
                    </span>
                    <a href="tel:+375291699106" class="nav-btn-phone">
                        +375 29 169 91 06
                    </a>

                    <div class="nav-social-contacts-container">
                        <div class="nav-social-contact cursor-pointer" onclick="openViberModal()">
                            <i class="fab fa-viber"></i>
                        </div>
                        <a class="nav-social-contact" href="https://t.me/nazareby" target="_blank">
                            <i class="fab fa-telegram"></i>
                        </a>
                        <a class="nav-social-contact" href="https://wa.me/375291699106" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>

{#                    <div class="nav-lang-container">#}
{#                        <ul class="nav-dropdown-items-container">#}
{#                            <li class="nav-dropdown-item-container">#}
{#                                <div class="nav-dropdown-item">#}
{#                                    <a href="#">ru</a>#}
{#                                    <i class="fa-solid fa-caret-down"></i>#}
{#                                </div>#}
{##}
{#                                <ul class="nav-dropdown-links shadow">#}
{#                                    <div class="nav-dropdown-link">#}
{#                                        <a href="#">en</a>#}
{#                                    </div>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>

                <div class="nav-right-bottom-container">
                    <ul class="nav-dropdown-items-container">
                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'about' %}">О нас</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:content' 'booking' %}">Бронирование и оплата</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:content' 'history' %}">О компании</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'apartments' %}">Апартаменты</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                {% for house in houses %}
                                    <div class="nav-dropdown-link">
                                        <a href="{% url 'index:apartment' house.apartment.slug %}">Дом {{ house.apartment.title.upper }}</a>
                                    </div>
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'services' %}">Услуги</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:content' 'rental' %}">Прокат и аренда</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:content' 'delivery' %}">Доставка еды</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:content' 'transfer' %}">Трансфер</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'gallery' %}">Галерея</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="{% url 'index:category' 'photogallery' %}">Фотогалерея</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:contact' %}">Контакты</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nav-mobile-menu-container open" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>

