{% load static %}
    <nav class="nav-container main-padding">
        <div class="nav-left">
            <a class="nav-logo" href="{% url 'index:index' %}">
                <img src="{% static 'svg/ZorkaLogo.svg' %}" alt="logo">
            </a>
        </div>

        <div class="nav-right">
            <div class="nav-right-container">
                <div class="nav-right-top-container">
                    <span class="nav-btn-call">
                        ЗАКАЗАТЬ ЗВОНОК
                    </span>
                    <span class="nav-btn-book">
                        ЗАБРОНИРОВАТЬ
                    </span>
                    <a href="tel:+375291699106" class="nav-btn-phone">
                        +375 29 169 91 06
                    </a>

                    <div class="nav-social-contacts-container">
                        <a class="nav-social-contanct" href="#">
                            <i class="fab fa-viber"></i>
                        </a>
                        <a class="nav-social-contanct" href="#">
                            <i class="fab fa-telegram"></i>
                        </a>
                        <a class="nav-social-contanct" href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>

                    <div class="nav-lang-container">
                        <ul class="nav-dropdown-items-container">
                            <li class="nav-dropdown-item-container">
                                <div class="nav-dropdown-item">
                                    <a href="#">ru</a>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>

                                <ul class="nav-dropdown-links shadow">
                                    <div class="nav-dropdown-link">
                                        <a href="#">en</a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="nav-right-bottom-container">
                    <ul class="nav-dropdown-items-container">
                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'about-us' %}">О нас</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="#">Бронирование и оплата</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Территория</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Отзывы</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">О компании</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'apartments' %}">Апартаменты</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                {% for house in houses %}
                                    <div class="nav-dropdown-link">
                                        <a href="{% url 'index:apartment' house.apartment.slug %}">Дом {{ house.apartment.title }}</a>
                                    </div>
                                {% endfor %}
                                <div class="nav-dropdown-link">
                                    <a href="#">Гостиница</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'services' %}">Услуги</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="#">Прокат и аренда</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Ресторан</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Доставка еды</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Трансфер</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:category' 'gallery' %}">Галерея</a>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <ul class="nav-dropdown-links shadow">
                                <div class="nav-dropdown-link">
                                    <a href="#">Фотогалерея</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">Видеогалерея</a>
                                </div>
                                <div class="nav-dropdown-link">
                                    <a href="#">3D-тур</a>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-dropdown-item-container">
                            <div class="nav-dropdown-item">
                                <a href="{% url 'index:contact' %}">Контакты</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nav-mobile-menu-container open" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>

