{% load static %}
<link rel="stylesheet" href="{% static 'css/viber.css' %}?v=1">
<section class="viber-container" id="viberModal">
    <div class="viber">
        <div class="viber-items">
            <div class="viber-close-btn" onclick="closeModal('viberModal')">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <div class="viber-choose">
                <div class="viber-btn shadow-normal-blur" onclick="window.location='viber://chat?number=%2B375291699106'">
                    <img loading="lazy" src="{% static 'svg/viber.svg' %}" alt="">
                </div>
                <div class="viber-qr shadow-normal-blur">
                    <img loading="lazy" src="{% static 'svg/qr-viber.svg' %}" alt="">
                </div>
            </div>
            <span class="viber-description">
                ПЕРЕЙДИТЕ В ПРИЛОЖЕНИЕ VIBER ИЛИ ОТСКАНИРУЙТЕ QR-КОД
            </span>
        </div>
    </div>
</section>