{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include 'basic/head.html'%}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css" />
        <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    </head>
    <body>
        {% include 'basic/preloader.html' %}
        {% include 'basic/callback.html' %}
        {% include 'basic/header.html' %}
        {% include 'basic/viberQrCode.html' %}

        <main class="main">
            <!-- ======== CONTENT CONTAINER ======== -->
            <section class="content__container">
                <!-- ======== CONTENT TITLE ======== -->
                <div class="content__title">
                    <span class="content__title_dot">•</span><span>{{ homeTitle }}</span><span class="content__title_dot">•</span>
                </div>
                <section class="apartments">
                    <!-- ======== SLIDER ======== -->
                    <div class="apartments__left">
                        <section class="slider__wrapper">
                            <div>
                                <div class="f-carousel" id="myCarousel">
                                    {% for imageFiles in imageFiles %}
                                    <div class="f-carousel__slide" data-thumb-src="{% static 'img/apartments/'|add:title|add:'/'|add:imageFiles %}">
                                        <a data-fancybox="gallery" href="{% static 'img/apartments/'|add:title|add:'/'|add:imageFiles %}">
                                            <div class="image-container">
                                                <img width="670" height="480" alt="" data-lazy-src="{% static 'img/apartments/'|add:title|add:'/'|add:imageFiles %}" />
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="apartments__right">
                        <section class="apartment__info">
                            <div class="aparment__info_main">
                                <span class="apartment__info_title">{% trans "ИНФОРМАЦИЯ" %}</span>
                                <div class="info__main_container">
                                    <div class="apartment__items">
                                        <div class="apartment__item">
                                            <i class="fa-solid fa-people-group"></i> {% trans "Количество гостей" %}: {{ homeGuests }} {% trans "взрослых" %}
                                        </div>
                                        <div class="apartment__item">
                                            <i class="fa-regular fa-square"></i> {% trans "Площадь" %}: {{ homeSquare }} м²
                                        </div>
                                        <div class="apartment__item">
                                            <i class="fa-solid fa-bed"></i> {% trans "Спальные места" %}: {{ homeSleep }}
                                        </div>
                                        {% comment %} <div class="apartment__item">
                                            <i class="fa-solid fa-wifi"></i> Wi-Fi: 
                                            {% if homeWiFi == True %}
                                                {% trans 'есть' %}
                                            {% else %}
                                                {% trans "нет" %}
                                            {% endif %}
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="main__conteiner_logo">
                                        <img src="{% static 'img/logo/LogoZORKA-white.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <span class="apartment__info_title">{% trans "ОСНАЩЕНИЕ" %}</span>
                            {% comment %} <div class="apartment__items_container"> {% endcomment %}
                                <div class="apartment__items services">
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-tv"></i> {% trans "Телевизор" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-wifi"></i> Wi-Fi
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-snowflake"></i> {% trans "Холодильник" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-fan"></i> {% trans "Кондиционер" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-wind"></i> {% trans "Фен" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-vault"></i> {% trans "Сейф" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-mug-hot"></i> {% trans "Кофеварка" %}
                                    </div>
                                </div>
                            {% comment %} </div> {% endcomment %}
                            <span class="apartment__info_title">{% trans "ДОП. УСЛУГИ" %}</span>
                            <div class="apartment__items_container">
                                <div class="apartment__items services">
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-ship"></i> {% trans "Катер" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-ferry"></i> {% trans "Гидроцикл" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-person-snowboarding"></i> {% trans "Сапборд" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-sailboat"></i> {% trans "Каное" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-basketball"></i> {% trans "Баскетбольная площадка" %}
                                    </div>
                                    <div class="apartment__item">
                                        <i class="fa-solid fa-table-tennis-paddle-ball"></i> {% trans "Теннисный корт" %}
                                    </div>
                                </div>
                            </div>
                            <div class="apartment__footer">
                                <span class="apartments__book" id="navCallDev">
                                    {% trans "ЗАБРОНИРОВАТЬ" %}
                                </span>
                                <div class="apartments__share">
                                    {% trans 'Поделиться'%}: 
                                    {% comment %} <i class="fa-brands fa-instagram"></i> {% endcomment %}
                                    {% comment %} <i class="fa-brands fa-linkedin"></i> {% endcomment %}
                                    <a href="https://vk.com/share.php?title={{ homeShare }}+nazare.by{% url 'apartHomePage' title %}" target="_blank"><i class="fa-brands fa-vk"></i></a>
                                    {% comment %} <i class="fa-brands fa-square-odnoklassniki"></i> {% endcomment %}
                                    <a href="https://t.me/share/url?url=nazare.by{% url 'apartHomePage' title %}&text={{ homeShare }}" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                                    <a href="https://wa.me/?text={{ homeShare }}+nazare.by{% url 'apartHomePage' title %}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </main>

        {% include 'basic/footer.html' %}

        <!-- ======== JS ======== -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
        <script>
            const container = document.getElementById("myCarousel");
            const options = {
              Dots: false,
              Thumbs: {
                type: "classic",
              },
            };
      
            new Carousel(container, options, { Thumbs });
        </script>
    </body>
</html>