{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include 'basic/head.html'%}
    </head>
    <body>
        {% include 'basic/preloader.html' %}
        {% include 'basic/callback.html' %}
        {% include 'basic/header.html' %}
        {% include 'basic/viberQrCode.html' %}

        <main class="main">
            <!-- ======== CONTENT CONTAINER ======== -->
            <section class="content__container">
                <!-- ======== CONTENT TITLE ======== -->
                <div class="content__title">
                    <span class="content__title_dot">•</span><span>{% trans 'КОНТАКТЫ' %}</span><span class="content__title_dot">•</span>
                </div>

                <section class="contacts">
                    <div class="contacts__info">
                        <div class="contacts__item_container">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>{% trans 'Витебский район, Мазоловский сельсовет' %} 63</span>
                        </div>
                        <div class="contacts__item_container">
                            <div class="item__container_contacts">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+375291699106" class="container__contacts_number" id="contactLink">+375 29 169 91 06</a>
                                <div class="container__contacts_icons">
                                    <a href="viber://chat?number=%2B375291699106"><i class="fab fa-viber" id="viber-icon"></i></a>
                                    <a href="https://t.me/nazareby" target="_blank"><i class="fab fa-telegram"></i></a>
                                <a href="https://wa.me/375291699106" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__item_container">
                            <i class="fa-solid fa-envelope"></i>
                            <span>info@nazare.by</span>
                        </div>
                    </div>
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc13d0fbe024f962d99e2a95d503811bcb473106e7de6fef58e1a80c665f7851&amp;source=constructor" frameborder="0"></iframe>
                </section>
            </div>
        </main>

        {% include 'basic/footer.html'%}
    </body>
</html>