{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include 'basic/head.html'%}
        <link rel="stylesheet" href="{% static 'css/development.css' %}">
    </head>
    <body>
        <!-- ======== PRELOADER ======== -->
        <div class="preloader" id="preloader">
            <img src="/static/img/LogoZORKA-White.png" alt="Preloader">
        </div>

        {% include 'basic/callback.html' %}
        {% include 'basic/header.html' %}

        <main class="main">
            <!-- ======== CONTENT CONTAINER ======== -->
            <section class="content__container">
                <!-- ======== CONTENT TITLE ======== -->
                <div class="content__title">
                    <span class="content__title_dot">•</span><span>{% trans 'СТРАНИЦА В РАЗРАБОТКЕ' %}</span><span class="content__title_dot">•</span>
                </div>

                <section class='info'>
                    <span class="info__description">
                        <span class="info__description">{% trans 'По вопросам' %} {{ description }} {% trans 'звоните на номер:' %}
                        <a href="tel:+375291699106" style="color: black;" id="contactLinkDev">+375 29 169 91 06</a></span><br>
                    <span class="info__description">{% trans 'или заполните форму и мы с вами свяжемся' %}</span><br><br>
                    <span class="info__button" id="navCallDev">{% trans 'ЗАКАЗАТЬ ЗВОНОК' %}</span>
                    <script src="{% static 'js/copyMobile.js' %}"></script>
                </section>
            </div>
        </main>

        {% include 'basic/footer.html'%}
    </body>
</html>