{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПАРК ОТЕЛЬ ZORKA</title>
    <link rel="icon" href="{% static 'svg/ZorkaLogo-icon.svg' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid-cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/form-search-apartment.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

    <script src="{% static 'js/preloader.js' %}"></script>
    <script src="{% static 'js/guest-counter.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
</head>
<body>
    {% include 'base/preloader.html' %}

    {% include 'base/header.html' %}

    <main>
        <section class="content-section bg-blue main-padding static-height mobile-flex-column">
            <div class="content-container space-between color-white mobile-flex-column mobile-content-container-for-second-section">
                <div class="content flex-end">
                    <span class="content-title">
                        ПАРК ОТЕЛЬ ZORKA
                    </span>
                    <div class="content-description">
                        Это идеальное место для отдыха и проведения свободного времени. Мы предлагаем уютные апартаменты, красивый парк живописными аллеями и озером, а также различные услуги.
                    </div>
                </div>
                <section class="content-container-form-search-apartment">
                    <div class="form-search-apartment-grid">
                        <div class="search-apartment-dropdown">
                            <div class="search-apartment-dropdown-header" id="datepicker-checkin">
                                <span class="search-apartment-dropdown-title">
                                    ЗАЕЗД
                                </span>
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <div class="search-apartment-dropdown">
                            <div class="search-apartment-dropdown-header" id="datepicker-checkout">
                                <span class="search-apartment-dropdown-title">
                                    ВЫЕЗД
                                </span>
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <div class="search-apartment-dropdown form-search-apartment-grid-2x2">
                            <div class="search-apartment-dropdown-header shadow">
                                <span class="search-apartment-dropdown-title">
                                    ГОСТИ
                                </span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="search-apartment-dropdown-footer">
                                <div class="search-apartment-dropdown-footer-counter" id="adultCounter">
                                    <span class="apartment-dropdown-footer-counter-title">
                                        ВЗРОСЛЫЕ
                                    </span>
                                    <div class="apartment-dropdown-footer-counter-control">
                                        <i class="fa-solid fa-square-plus" onclick="incrementCounter('adult')"></i>
                                        <span id="adultCount">0</span>
                                        <i class="fa-solid fa-square-minus" onclick="decrementCounter('adult')"></i>
                                    </div>
                                </div>

                                <div class="search-apartment-dropdown-footer-counter" id="childCounter">
                                    <span class="apartment-dropdown-footer-counter-title">
                                        ДЕТИ
                                    </span>
                                    <div class="apartment-dropdown-footer-counter-control">
                                        <i class="fa-solid fa-square-plus" onclick="incrementCounter('child')"></i>
                                        <span id="childCount">0</span>
                                        <i class="fa-solid fa-square-minus" onclick="decrementCounter('child')"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-apartment-btn form-search-apartment-grid-3x2">
                            <span class="search-apartment-btn-title">НАЙТИ АПАРТАМЕНТ</span>
                        </div>
                    </div>
                    <script>
                        document.querySelectorAll('.search-apartment-dropdown-header').forEach(function(element) {
                            element.addEventListener('click', function() {
                                this.classList.toggle('active');
                            });
                        });
                    </script>
                </section>
            </div>
        </section>

        <section class="content-section main-padding bg-image">
            <div class="content-container flex-column align-items-center">
                <div class="content-container-items">
                    <div class="content-title color-blue">
                        АПАРТАМЕНТЫ
                    </div>

                    <section class="content-items flex-wrap gap-20-to-40">
                        <div class="card bg-white shadow">
                            <div class="card-main-section">
                                <div class="card-image-container" style="background-image: url('{% static 'img/apartments/resources/cards/obsidian.webp' %}');"></div>
                                <div class="card-main-section-content">
                                    <span class="card-main-content-title">
                                        OBSIDIAN
                                    </span>
                                    <span class="card-main-content-description">
                                        Вместимость: 6 взрослых + дети<br>
                                        - 2 спальни + 1 гостевая<br>
                                        - 2 санузла<br>
                                        - Полноценная кухня<br>
                                        - 4 телевизора<br>
                                        - Пелетный камин<br>
                                        - WiFi free
                                    </span>
                                    <div class="card-main-section-content-footer">
                                        <span class="card-main-daily-price">Цена: 900 BYN / сутки</span>
                                        <a href="#" class="card-main-btn-book bg-blue color-white">ЗАБРОНИРОВАТЬ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-main-section-third bg-white shadow"></div>
                            <div class="card-main-section-second bg-white shadow"></div>
                        </div>

                        <div class="card blue-card bg-blue shadow">
                            <div class="card-main-section">
                                <div class="card-image-container" style="background-image: url('{% static 'img/apartments/resources/cards/terra.webp' %}');"></div>
                                <div class="card-main-section-content">
                                    <span class="card-main-content-title color-white">
                                        TERRA
                                    </span>
                                    <span class="card-main-content-description color-white">
                                        Вместимость: 4 взрослых + дети<br>
                                        - 1 спальня + 1 гостевая<br>
                                        - Собственная сауна<br>
                                        - Джакузи<br>
                                        - 1 санузел<br>
                                        - Полноценная кухня<br>
                                        - 3 телевизора<br>
                                        - Пелетный камин<br>
                                        - WiFi free
                                    </span>
                                    <div class="card-main-section-content-footer">
                                        <span class="card-main-daily-price color-white">Цена: 1200 BYN / сутки</span>
                                        <a href="#" class="card-main-btn-book bg-white color-blue">ЗАБРОНИРОВАТЬ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-main-section-third bg-blue shadow"></div>
                            <div class="card-main-section-second bg-blue shadow"></div>
                        </div>

                        <div class="card bg-white shadow">
                            <div class="card-main-section">
                                <div class="card-image-container" style="background-image: url('{% static 'img/apartments/resources/cards/olive.webp' %}');"></div>
                                <div class="card-main-section-content">
                                    <span class="card-main-content-title">
                                        OLIVE
                                    </span>
                                    <span class="card-main-content-description">
                                        Вместимость: 6 взрослых + дети<br>
                                        - 2 спальни + 1 гостевая<br>
                                        - 2 санузла<br>
                                        - Полноценная кухня<br>
                                        - 4 телевизора<br>
                                        - Пелетный камин<br>
                                        - WiFi free
                                    </span>
                                    <div class="card-main-section-content-footer">
                                        <span class="card-main-daily-price">Цена: 900 BYN / сутки</span>
                                        <a href="apartment.html" class="card-main-btn-book bg-blue color-white">ЗАБРОНИРОВАТЬ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-main-section-third bg-white shadow"></div>
                            <div class="card-main-section-second bg-white shadow"></div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="content-section main-padding">
            <div class="content-container flex-column align-items-center">
                <div class="content-container-items">
                    <div class="content-title color-blue">
                        ПРЕИМУЩЕСТВА
                    </div>

                    <section class="content-items">
                        <div class="grid-container">
                            <div class="grid-item shadow-blur bg-white object-1">
                                <div class="grid-item-icon-for-object-2x2 bg-white"><i class="fa-solid fa-wifi"></i></div>
                                <div class="grid-item-image-container" style="background-image: url('{% static 'img/apartments/resources/cards/olive2.webp' %}');"></div>
                                <div class="grid-item-content-for-object-2x2">
                                    <span class="grid-item-section-title">WiFi Free</span>
                                    <span class="grid-item-section-description">
                                        Свободный и быстрый доступ к интернету в любой точке отеля. Оставайтесь на связи, общайтесь и делитесь впечатлениями без ограничений.
                                    </span>
                                </div>
                            </div>
                            <div class="grid-item shadow-blur bg-white object-2">
                                <div class="grid-item-content-for-object-2x1">
                                    <div class="grid-item-icon"><i class="fa-solid fa-medal"></i></div>
                                    <div class="grid-item-content-column">
                                        <span class="font-bold">Комфорт и стиль</span>
                                        <span class="grid-item-section-description">
                                            Насладитесь уникальным сочетанием комфорта и стиля в каждой детали. Изысканный дизайн номеров создает уютную атмосферу, где вы почувствуете себя как дома.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item shadow-blur bg-gray object-3">
                                <div class="grid-item-content-for-object-1x1">
                                    <div class="grid-item-icon bg-blue color-white"><i class="fa-regular fa-credit-card"></i></div>
                                    <span class="font-bold">Лучшая цена</span>
                                    <span class="grid-item-section-description">
                                        Непревзойденный комфорт по выгодной стоимости.
                                    </span>
                                </div>
                            </div>
                            <div class="grid-item shadow-blur bg-white object-4">
                                <div class="grid-item-content-for-object-1x1">
                                    <div class="grid-item-icon"><i class="fa-solid fa-map-location-dot"></i></div>
                                    <span class="font-bold">10 км от города</span>
                                    <span class="grid-item-section-description">
                                        Близость к удобствам, недалеко от природы.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="content-section main-padding bg-gray">
            <div class="content-container flex-column align-items-center">
                <div class="content-container-items">
                    <div class="content-title color-blue">
                        ОТЗЫВЫ
                    </div>

                    <section class="content-items">
                        <div class="slider-container-btn">
                            <span class="prevBtn shadow"><i class="fa-solid fa-chevron-left"></i></span>
                            <span class="nextBtn shadow"><i class="fa-solid fa-chevron-right"></i></span>
                        </div>

                        <div class="slider-container">
                            <div class="slider">
                                <div class="card bg-white shadow review-width">
                                    <div class="card-main-section-content">
                                        <div class="card-main-content-header">
                                            <span class="card-main-content-title">
                                                Мой лучший отпуск
                                            </span>
                                            <div class="card-main-content-header-icon">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                        <span class="card-main-content-description color-blue">
                                            Наслаждался каждым моментом в уютном парк-отеле Zorka. Безупречный сервис, красивейший пейзаж и непередаваемая атмосфера покоя. Вернусь снова и снова!
                                        </span>
                                        <div class="card-main-content-guest">
                                            <div class="card-main-content-guest-image" style="background-image: url({% static 'img/reviews/guest1.webp' %});"></div>
                                            <div class="card-main-content-guest-content">
                                                <span class="card-main-content-guest-name color-blue">
                                                    Олег
                                                </span>
                                                <div class="card-main-content-guest-score color-blue">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card bg-white shadow review-width">
                                    <div class="card-main-section-content">
                                        <div class="card-main-content-header">
                                            <span class="card-main-content-title">
                                                Очень хороший отель
                                            </span>
                                            <div class="card-main-content-header-icon">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                        <span class="card-main-content-description">
                                            Превзошел все ожидания. Уютные номера, великолепный сервис и впечатляющая природа. Незабвенный опыт, рекомендую всем.
                                        </span>
                                        <div class="card-main-content-guest">
                                            <div class="card-main-content-guest-image" style="background-image: url({% static 'img/reviews/guest2.webp' %});"></div>
                                            <div class="card-main-content-guest-content">
                                                <span class="card-main-content-guest-name color-blue">
                                                    Елена
                                                </span>
                                                <div class="card-main-content-guest-score color-blue">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card bg-white shadow review-width">
                                    <div class="card-main-section-content">
                                        <div class="card-main-content-header">
                                            <span class="card-main-content-title">
                                                Идеальное место
                                            </span>
                                            <div class="card-main-content-header-icon">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                        <span class="card-main-content-description">
                                            Семейный рай! Отличные условия для детей, множество развлечений и безопасная атмосфера. Наш отдых был полон счастья, дети в восторге, а родители могли наконец-то расслабиться.
                                        </span>
                                        <div class="card-main-content-guest">
                                            <div class="card-main-content-guest-image" style="background-image: url({% static 'img/reviews/guest3.webp' %});"></div>
                                            <div class="card-main-content-guest-content">
                                                <span class="card-main-content-guest-name color-blue">
                                                    Алексей
                                                </span>
                                                <div class="card-main-content-guest-score color-blue">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card bg-white shadow review-width">
                                    <div class="card-main-section-content">
                                        <div class="card-main-content-header">
                                            <span class="card-main-content-title">
                                                Роскошный отдых
                                            </span>
                                            <div class="card-main-content-header-icon">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                        <span class="card-main-content-description">
                                            Пятерка звезд не выражает всей красоты этого места! Роскошные номера, великолепный вид из окна и атмосфера уюта. Это был отпуск моей мечты, я влюблена в этот отель!
                                        </span>
                                        <div class="card-main-content-guest">
                                            <div class="card-main-content-guest-image" style="background-image: url({% static 'img/reviews/guest4.webp' %});"></div>
                                            <div class="card-main-content-guest-content">
                                                <span class="card-main-content-guest-name color-blue">
                                                    Мария
                                                </span>
                                                <div class="card-main-content-guest-score color-blue">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </main>

    {% include 'base/footer.html' %}

    <script src="{% static 'js/nav-mobile.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
</body>
</html>