{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include 'basic/head.html'%}
        <link rel="stylesheet" href="{% static 'css/privacy.css' %}">
    </head>
    <body>
        {% include 'basic/preloader.html' %}
        {% include 'basic/callback.html' %}
        {% include 'basic/header.html' %}

        <main class="main">
            <!-- ======== CONTENT CONTAINER ======== -->
            <section class="content__container">
                <!-- ======== CONTENT TITLE ======== -->
                <div class="content__title">
                    <span class="content__title_dot-policy">•</span><span class="content__title_policy">{% trans 'ПОЛИТИКА КОНФЕНДЕЦИАЛЬНОСТИ' %}</span><span class="content__title_dot-policy">•</span>
                </div>
                {% if cur_lang == 'ru' %}
                    <object data="{% static 'doc/Privacy.html' %}" width="100%" height="600px" style="margin-top: 20px"></object>
                {% else %}
                    <object data="{% static 'doc/PrivacyEn.html' %}" width="100%" height="600px" style="margin-top: 20px"></object>
                {% endif %}
            </section>
        </main>

        {% include 'basic/footer.html'%}
    </body>
</html>