.content-container{
    padding: 50px 0 0 0;
}

.content-container-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-item-container{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
}

.content-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-search{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-search{
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    border: 2px solid var(--dark-blue-color);
    border-radius: 10px;
    cursor: pointer;
    color: var(--dark-blue-color);
    background-color: white;
    font-size: var(--content-font);
}

.button-search:hover{
    background-color: var(--dark-blue-color);
    color: white;
}

.content-item{
    width: fit-content;
    display: flex;
    border: 2px solid var(--dark-blue-color);
    border-radius: 10px;
    overflow: hidden;
    color: var(--dark-blue-color);
    font-size: var(--content-font);
}

.apartment-image {
    width: 330px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-item-header{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 15px 15px 5px 15px;
    font-weight: bold;
}

.content-item-description{
    display: flex;
    padding: 0 15px 15px 15px;
}

.content-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--dark-blue-color);
    padding: 15px;
    color: white;
    gap: 15px;
}

.content-item-footer-info{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.content-item-footer-info-price{
    font-weight: bold;
}

.content-item-footer-btn{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.content-item-footer-btn:hover{
    color: var(--dark-blue-color);
    background-color: white;
}

.search-apartment-dropdown{
    border: 2px solid var(--dark-blue-color);
}

@media (max-width: 1024px){
    .content-container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .content-item{
        width: 100%;
        flex-direction: column;
    }

    .apartment-image {
        width: 100%;
        height: 200px;
    }

    .content-item-footer, .content-item-header{
        flex-wrap: wrap;
    }

    .form-search{
        flex-direction: column;
    }

    .button-search{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}