@import "/static/css/variables.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    font-family: var(--default-font);
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: var(--blue-color)
}
body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 25px;
}

main{
    display: flex;
    flex-direction: column;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

sup{
    font-size: var(--content-font);
}

.bg-blue{
    background-color: var(--blue-color);
}

.bg-white{
    background-color: var(--white-color);
}

.bg-gray{
    background-color: var(--gray-color);
}

.color-white{
    color: var(--white-color);
}

.color-blue{
    color: var(--blue-color);
}

.static-height{
    height: 420px;
}

.review-width{
    min-width: 380px;
}

.flex-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.content-title{
    width: fit-content;
    font-size: var(--main-line-font);
    font-weight: bold;
}

.content-description{
    width: 100%;
    max-width: 300px;
    font-size: var(--content-font);
}

.shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow-blur{
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.25);
}

.right{
    float: right;
}

.flex-column{
    flex-direction: column;
}

.font-bold{
    font-weight: bold;
}

.gap-15{
    gap: 15px;
}

.gap-20-to-40{
    gap: 20px;
}

.align-items-center{
    display: flex;
    align-items: center;
}


@media (min-width: 1024px){
    .main-padding{
        padding: 0 150px;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .main-padding{
        padding: 0 50px;
    }

    .gap-20-to-40{
        gap: 40px;
    }
}

@media (max-width: 768px){
    .main-padding{
        padding: 0 20px;
    }

    .mobile-flex-column{
        flex-direction: column;
    }

    .mobile-content-container-for-second-section{
        display: flex;
        justify-content: flex-end;
    }

    .static-height{
        height: 630px;
    }

    .review-width{
        min-width: 280px;
    }

    .gap-20-to-40{
        gap: 40px;
    }

    .content-title{
        white-space: normal;
        font-size: var(--main-line-font-mobile);
    }
}