.content-container {
    padding: 50px 0 0 0;
}

.content-image-item{
    width: 450px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.content-container-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-items{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.content-description-item{
    max-width: 600px;
    color: var(--dark-blue-color);
}

@media (max-width: 1300px){
    .content-items{
        gap: 20px;
    }
}