@import "variables.css";

/* ======== INFO ======== */

.info__title{
    font-size: var(--biggest-font-size);
    color: var(--blue-color);
    text-align: center;
}

.info{
    text-align: center;
}

.info__button{
    color: #FFF;
    background-color: var(--blue-color);
    padding: 10px 15px;
    cursor: pointer;
}