/*======== GOOGLE FONTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*======== VARIABLES ========*/
:root {
    /*======== COLORS ========*/
    --blue-color: #24486C;
    --dark-blue-color: #364758;

    /*======== FONT & TYPOGRAPHY ========*/
    --body-font: 'Open Sans', sans-serif;
    --biggest-font-size: 32px;
    --normal-font-size: 16px;
    --small-font-size: 8px;

    /*======== FONT WEIGHT ========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*======== INDEX ========*/
    --z-fixed: 100;
}

/*======== RESPONSIVE TYPOGRAPHY ========*/
@media screen and (min-width: 1402px){
    :root{
        --biggest-font-size: 64px;
        --normal-font-size: 32px;
        --small-font-size: 16px;
    }
}

/*======== BASE ========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*======== HEADER & NAV ========*/
.header{
    position: fixed;
    width: 100%;
    padding: 15px 300px;
    left: 0;
    z-index: var(--z-fixed);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    background-color: var(--blue-color);
}

.nav{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left{
    display: flex;
}

.nav__menu{
    align-items: center;
    color: #fff;
    font-size: var(--small-font-size);
}

.fa-bars{
    display: none;
    margin-right: 20px;
}

.nav__logo {
    display: flex;
    width: 50px;
    height: 100px;
    float: left;
}

.nav__menu_top{
    height: 50px;
    display: flex;
    align-items: center;
    row-gap: .75rem;
    color: #fff;
    right: 0;
    justify-content: flex-end;
}

.nav__book{
    padding: 10px 10px;
    border: solid 1px;
    cursor: pointer;
    margin-left: 10px;
}

.nav__call{
    padding: 10px 10px;
    border: solid 1px;
    cursor: pointer;
}

.nav__contact{
    margin-left: 10px;
    white-space: nowrap;
}

.nav__column_mobile{
    display: flex;
}

.nav__socials{
    margin-left: 5px;
}

.nav__socials .fab{
    font-size: 19px;
    margin-left: 5px;
    cursor: pointer;
}

.nav__lang{
    margin-left: 10px;
    cursor: pointer;
}

.nav__lang_arrow{
    font-size: 12px;
}

.nav__menu_bottom{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.nav__list{
    display: flex;
    text-align: center;
    row-gap: 16px;
}

.nav__list li{
    margin-left: 20px;
}

.nav__list a{
    color: #fff;
}

.header-transition {
    transition: background-color 0.3s ease;
}

/*======== RESPONSIVE HEADER & NAV ========*/
@media (max-width: 1401px) {
    .header {
        padding: 15px 100px;
    }

    .fa-bars{
        display: flex;
    }

    .nav.container{
        height: 50px;
    }

    .nav__menu{
        display: flex;
        font-size: var(--normal-font-size);
    }

    .nav__logo{
        height: 50px;
    }

    .nav__book{
        display: none;
    }

    .nav__call{
        display: none;
    }

    .nav__menu_bottom{
        display: none;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 10px 20px;
    }

    .nav.container{
        height: 40px;
    }
    
    .nav__logo{
        height: 40px;
    }

    .nav__column_mobile{
        flex-direction: column;
        align-items: flex-end;
    }

    .nav__socials{
        white-space: nowrap;
    }
}

/* ======== MENU MOBILE ======== */
.nav__menu_mobile{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    background-color: var(--blue-color);
    transition: top .4s;
}

.mobile__container{
    display: flex;
    flex-direction: column;
}

.mobile__header{
    padding: 10px 100px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.mobile__close{
    color: #fff;
    font-size: var(--biggest-font-size);
    cursor: pointer;
}

.mobile__nav_list{
    padding: 20px 20px;
    row-gap: 16px;
    font-size: var(--normal-font-size);
}

.dropdown__item{
    padding: 10px 0;
}

.nav__link{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.mobile__nav_book, .mobile__nav_call{
    display: flex;
    color: #fff;
    font-size: var(--normal-font-size);
    border: solid #fff 1px;
    width: fit-content;
    margin: 10px auto 0 auto;
    padding: 10px;
}

.show-menu{
    top: 0;
}

/* ======== RESPONSIVE MENU MOBILE ======== */
@media (max-width: 900px) {
    .mobile__header{
        padding: 0 20px;
    }
}

/* ======== DROPDOWN ======== */
.dropdown__item, .dropdown__lang{
    cursor: pointer;
}

.fa-caret-down{
    transition: transform .4s;
    margin-left: 5px;
}

.dropdown__link{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

.dropdown__link i{
    padding-right: 5px;
}

.dropdown__link:hover{
    background-color: var(--dark-blue-color);
}

.dropdown__menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    white-space: nowrap;
}

.dropdown__lang_menu{
    max-height: 0;
    overflow: hidden;
}

.dropdown__item:hover .dropdown__menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown__lang:hover .dropdown__lang_menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
    position: absolute;
    background-color: var(--blue-color);
}

.dropdown__lang .dropdown__link{
    padding: 5px;
}

.dropdown__item:hover .fa-caret-down{
    transform: rotate(180deg);
}

.dropdown__lang:hover .fa-caret-down{
    transform: rotate(180deg);
}

@media (min-width: 1401px){
    .dropdown__link{
        padding: 10px 10px 10px 10px;
    }

    .dropdown__menu{
        background-color: var(--blue-color);
        position: absolute;
    }
}