/*======== GOOGLE FONTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*======== VARIABLES ========*/
:root {
    /*======== COLORS ========*/
    --blue-color: #24486C;
    --gray-color: #F8F8F8;
    --brown-color: #906D4F;

    /*======== FONT & TYPOGRAPHY ========*/
    --body-font: 'Open Sans', sans-serif;
    --biggest-font-size: 32px;
    --normal-font-size: 16px;
    --small-font-size: 8px;

    /*======== FONT WEIGHT ========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*======== INDEX ========*/
    --z-fixed: 100;
}

/*======== RESPONSIVE TYPOGRAPHY ========*/
@media screen and (min-width: 1401px){
    :root{
        --biggest-font-size: 64px;
        --normal-font-size: 32px;
        --small-font-size: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*======== BASE ========*/
.main{
    padding: 100px 300px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*======== RESPONSIVE BASE ========*/
@media (max-width: 1401px) {
    .main{
        padding: 100px 100px;
    }
}
@media (max-width: 900px) {
    .main{
        padding: 50px 20px;
    }
}

/*======== HOME BACKGROUND ========*/
.background {
    position: relative;
    background-image: url(/static/img/source/HomeBackground.png);
    background-size: cover;
    background-position: top;
    height: 585px;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}

.home{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.home__title{
    font-size: var(--biggest-font-size);
}

.home__description{
    font-size: var(--small-font-size);
    width: 500px;
}

.home__book{
    font-size: var(--small-font-size);
    border: solid #fff 1px;
    padding: 15px;
    margin-top: 18px;
    margin-bottom: 100px;
    display: inline-block;
    width: fit-content;
    cursor: pointer;
}

.home .fa-solid{
    margin-left: 25px;
}

/*======== RESPONSIVE HOME BACKGROUND ========*/
@media (max-width: 1401px) {
    .background{
        padding: 0 100px;
        height: 285px;
    }

    .home__description{
        width: 250px;
    }

    .home__book{
        margin-bottom: 50px;
        padding: 10px;
        font-size: var(--small-font-size);
    }

    .home .fa-solid{
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    .background{
        padding: 0 20px;
        height: 285px;
    }
}

/*======== HOME FOOTER ========*/
.home__footer{
    display: flex;
    justify-content: center;
    padding: 0 300px;
}

.home__footer_item{
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 245px;
    align-items: center;
    color: var(--blue-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    background-color: var(--gray-color);
    padding: 20px 30px;
    margin: 125px 15px 0 15px;
    cursor: pointer;
}

.footer__item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}


.footer__item_img i {
    font-size:var(--biggest-font-size);
    color: var(--brown-color);
}

.footer__item_title{
    margin-top: auto;
}

/*======== RESPONSIVE HOME FOOTER ========*/
@media (max-width: 1401px) {
    .home__footer{
        padding: 0 100px;
        padding-bottom: 33px;
    }

    .home__footer_item{
        margin: 25px 0 0 10px;
        padding: 10px 20px;
        width: 145px;
        height: 100px;
    }

    .footer__item_img img{
        width: 40%;
    }
}

@media (max-width: 900px) {
    .home__footer{
        padding: 0 20px;
        padding-bottom: 25px;
    }

    .home__footer_item{
        width: 100px;
        height: 80px;
        padding: 10px;
    }
}

/*======== CONTENT ========*/
.content__container{
    padding: 50px 0
}

.content__title{
    display: flex;
    justify-content: center;
    color: var(--blue-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--biggest-font-size);
    text-align: center;
    align-items: center;
}

.content__title_policy{
    font-size: var(--normal-font-size);
}

.content__title_dot{
    align-items: center;
    margin: 0 30px;
}

.content__title_dot-policy{
    align-items: center;
    font-size: var(--normal-font-size);
    margin: 0 30px;
}

.content__description{
    display: flex;
    justify-content: center;
    color: var(--brown-color);
    font-size: var(--small-font-size);
    margin-top: 20px;
    padding-bottom: 100px;
}

/*======== RESPONSIVE CONTENT ========*/
@media (max-width: 1401px) {
    .content__container{
        padding: 25px 0;
    }

    .content__title_dot{
        margin: 0 20px;
    }

    .content__description{
        margin-top: 10px;
        padding-bottom: 50px;
    }
}

.fa-chevron-left,
.fa-chevron-right{
    font-size: 50px;
    margin: 0 50px;
}

.fa-circle{
    font-size: 20px;
    margin-left: 10px;
}

/* ======== 3D TOUR ======== */
.content__panorama{
    display: flex;
    justify-content: center;
    margin-top: 76px;
}

.content__panorama_frame{
    width: 1000px;
    height: 750px;
}

/*======== RESPONSIVE 3D TOUR ========*/
@media (max-width: 1401px) {
    .content__panorama{
        margin-top: 30px;
    }

    .content__panorama_frame{
        width: 800px;
        height: 550px;
    }
}

@media (max-width: 900px) {
    .content__panorama_frame{
        margin: 0 50px 0 50px;
    }
}

/* ======== CONTAINER CONTENT ======== */
.container__content{
    display: flex;
    justify-content: center;
}

.container__content_slider {
    display: flex;
    justify-content: center;
}

.container__content_image {
    width: 460px;
    height: 607px;
    box-shadow: -440px -50px 0px 0px #D9D9D9;
    overflow: hidden;
}

.container__content_image-right{
    width: 480px;
    height: 500px;
    overflow: hidden;
}

.container__content_image-center{
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.apartment {
    margin-right: 0px;
    flex: 0 0 100%;
}

.container__content_description{
    font-size: var(--small-font-size);
    width: 600px;
    margin: 20px 0 0 30px;
    color: var(--blue-color);
}

.container__content_description-right{
    font-size: var(--small-font-size);
    width: 600px;
    margin: 20px 30px 0 0;
    color: var(--blue-color);
    text-align: right;
}

.content__description_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.content__description_button{
    color: var(--brown-color);
    border: solid var(--brown-color) 1px;
    padding: 14px 48px;
    margin-top: 50px;
    cursor: pointer;
}

.content__service{
    display: flex;
    flex-direction: column;
}

.content__service_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content__service_item{
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 245px;
    align-items: center;
    color: var(--blue-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    background-color: var(--gray-color);
    padding: 20px 30px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 1401px){
    .container__content_slider {
        flex-direction: column;
        align-items: center;
    }

    .container__content_description-right{
        text-align: center;
        margin: 0;
    }

    .container__content_image-center{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 900px){
    .container__content_image-center{
        width: 300px;
        height: 200px;
    }
}

/* ======== CONTENT SERVICE ======== */
.service__item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.service__item_img i {
    font-size: var(--biggest-font-size);
    color: var(--brown-color);
}

.service__item_description{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__item_button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.service__item_button span{
    color: var(--brown-color);
    border: solid var(--brown-color) 1px;
    padding: 20px;
    cursor: pointer;
}

/* ======== CONTENT GALLERY ======== */
.content__gallery_items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.content__gallery_item{
    background-color: var(--blue-color);
    border-radius: 0 0 30px 30px;
    width: 300px;
    margin: 0 30px;
    cursor: pointer;
}

.gallery__item_img {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.gallery__item_img img{
    max-width: 100%;
}

.gallery__item_description{
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: #fff;
    margin: 20px 0;
}

/* ======== RESPONSIVE CONTAINER CONTENT ======== */
@media (max-width: 1700px) {
    .container__content_image {
        width: 306px;
        height: 440px;
        box-shadow: -200px -20px 0px 0px #D9D9D9;
    }

    .container__content_image-right{
        width: 320px;
        height: 333px;
    }

    .container__content_description-right{
        width: 400px;
    }
}

@media (max-width: 1401px) {
    .container__content_image {
        width: 230px;
        height: 303px;
        box-shadow: -200px -20px 0px 0px #D9D9D9;
    }

    .container__content_description{
        width: 400px;
        margin: 20px 0 0 0 10px;
    }

    .content__description_button{
        margin: 0px;
        padding: 10px 30px;
    }

    .content__service_item{
        margin: 12px 5px 0 5px;
        padding: 10px 20px;
        width: 145px;
        height: 100px;
    }

    .service__item_img img{
        width: 40%;
    }

    .service__item_button{
        margin-top: 53px;
    }

    .service__item_button span{
        padding: 15px;
    }

    .content__gallery_item{
        width: 200px;
        border-radius: 0 0 20px 20px;
        margin: 0 20px;
    }

    .gallery__item_img {
        min-height: 266px;
    }

    .gallery__item_description{
        margin: 15px 0;
    }
}

@media (max-width: 900px) {
    .container__content{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
    }

    .container__content_image {
        width: 230px;
        height: 303px;
        box-shadow: 0px 0px 0px 0px;
    }

    .container__content_description{
        width: 300px;
        margin-left: 0;
    }

    .content__description_button{
        margin: 0px;
        padding: 14px 30px;
    }

    .container__content_image-right{
        width: 213px;
        height: 250px
    }

    .container__content_description-right{
        width: 200px;
        margin: 0;
    }

    .content__service_item{
        width: 100px;
        height: 80px;
        padding: 10px;
    }

    .service__item_button{
        margin-top: 40px;
    }

    .service__item_button span{
        padding: 10px;
    }

    .content__gallery_item{
        width: 135px;
        border-radius: 0 0 10px 10px;
        margin: 0 8px 20px 8px;
    }

    .gallery__item_img {
        min-height: 200px;
    }

    .gallery__item_description{
        margin: 10px 0;
    }
}

/* ======== APARTMENTS ======== */
.apartments{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.apartments__right{
    color: white;
    font-size: var(--small-font-size);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apartments__left{
    max-width: 600px;
    margin: 0 20px;
}

.apartment__info{
    padding: 20px;
    background-color: var(--blue-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info__main_container{
    display: flex;
    justify-content: space-between;
}

.main__conetiner_logo img{
    width: 100px;
}

.apartment__info_title{
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.apartment__items_container {
    display: flex;
    justify-content: center;
}

/* CENTERED */
.apartment__items.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.apartment__item {
    padding: 8px 12px;
}

/* COLUMN */
/* .apartment__items.services {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.apartment__item {
    flex-basis: calc(50% - 5px);
    padding: 8px 12px;
    box-sizing: border-box;
} */

.apartment__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.apartments__book{
    background-color: white;
    font-size: var(--normal-font-size);
    width: fit-content;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    color: var(--blue-color);
}

.apartments__share{
    font-weight: var(--font-bold);
    margin: 10px 0;
}

.apartments__share i{
    cursor: pointer;
    padding-left: 5px;
}

@media (max-width: 1600px){
    .apartments{
        flex-wrap: wrap;
    }
}

@media (max-width: 1401px){
    .apartments__left{
        width: 400px;
    }

    .apartment__info{
        padding: 15px;
        margin: 8px 0;
    }

    .apartment__info_title{
        padding: 0 30px;
    }

    .apartment__item{
        padding: 5px 0;
    }

    .apartments__book{
        margin: 8px 0;
    }

    .apartments__share{
        margin: 8px 0;
        font-size: var(--normal-font-size);
    }

    .apartments__share i{
        font-size: var(--normal-font-size);
    }
}

@media (max-width: 900px){
    .apartments__left{
        width: 300px;
    }
}