.padding-for-main{
    padding: 0;
}

.bg-image {
    position: relative;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -5;
}

.content-container{
    display: flex;
    padding: 100px 0 50px 0;
}

.content-container-items{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.card-main-content-header{
    display: flex;
    justify-content: space-between;
}

.card-main-content-header-icon i{
    font-size: 50px;
}

.content-items, .reviews-container{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px){
    .card-main-content-header-icon{
        display: none;
    }

    .reviews-container{
        flex-direction: column-reverse;
        align-items: center;
    }
}