.content-container{
    display: flex;
    align-items: center;
    padding: 50px 0 0 0;
}

.content-container-items{
    flex-direction: column;
    gap: 30px;
}

.content-items{
    width: 100%;
}

object {
    height: 60vh;
    max-width: 100%;
    width: 100%;
}

@media (max-width: 768px){
    .content-items{
        gap: 30px;
    }
}

@media (max-width: 420px) {
    .content-title{
        white-space: pre-line;
        font-size: var(--default-font);
    }
}