@import "variables.css";

/* ======== SLIDER ======== */
.slider__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.content_carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.feedback {
    flex: 0 0 100%;
    margin-right: 0;
}

.item__container_control{
    display: flex;
    justify-content: center;
    color: var(--blue-color);
    margin-top: 50px;
}

.item__container_control .fa-solid{
    cursor: pointer;
}

.control__paginator{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======== RESPONSIVE SLIDER ======== */
@media (max-width: 1401px) {
    .item__container_control{
        margin-top: 25px;
    }

    .control__paginator i{
        font-size: var(--normal-font-size);
    }
}

.image-container {
    max-width: 670px;
    width: 100%;
    height: 480px;
    overflow: hidden;
    margin: 0 auto; /* Центрирование контейнера */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ======== RESPONSIVE SLIDER ======== */
@media (max-width: 1401px) {
    .image-container {
        height: 300px; /* Изменил высоту для 1401px ширины */
    }
}

@media (max-width: 900px) {
    .image-container {
        height: 200px; /* Изменил высоту для 900px ширины */
    }
}