@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ======== COLOR ======== */
    --blue-color: #354D6D;
    --dark-blue-color: #35454E;
    --white-color: white;
    --gray-color: #EDF0F5;
    --green-blue-color: #E2E8EB;

    /* Z-INDEX */
    --preloader-index: 9999;
    --callback-index: 6000;
    --header-index: 5000;
    --nav-mobile-index: 4000;

    /* ICON */
    --default-icon-size: 20px;

    /* ======== FONT ======== */
    --default-font: 'Manrope', sans-serif;
    --content-font: 14px;
    --main-line-font: 30px;
    --main-line-font-mobile: 30px;
    --button-font: 16px;
    --regular-font: 400;
    --bold-font: 700;

    --bg-image: none
}