@import "variables.css";

/* ======== VIBER QR CODE ======== */
.background__viber_qr-code{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: var(--z-fixed-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.viber__qr_code{
    background-color: var(--blue-color);
    z-index: var(--z-relative);
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 320px;
    padding: 1rem;
    border-radius: 1.35rem;
    font-size: var(--small-font-size);
    text-align: center;
}

.viber__qr_code span{
    padding: 10px 0;
}

.qr__code_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr__code_button span{
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}