{% extends 'base/base.html'%}

{% load static %}

{% block title %}Бронирование{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/form-search-apartment.css' %}?v=1">
    <script src="{% static 'js/datepicker-constants.js' %}?v=1.2"></script>
    <script src="{% static 'js/datepicker-calculate.js' %}?v=1"></script>
    <script src="{% static 'pikaday/pikaday.js' %}?v=1"></script>
    <script src="{% static 'js/guest-counter.js' %}?v=1"></script>
{% endblock link %}
{% block main %}
    {% include 'base/email-confirm.html' %}
    <section class="content-section main-padding">
        <div class="content-container flex-column align-items-center">
            <div class="content-container-items">
                <div class="content-title color-dark-blue">
                    БРОНИРОВАНИЕ
                </div>
                <section class="content-items">
                    <div class="form">
                        <form class="booking-form" method="POST">
                            {% csrf_token %}
                            <div class="form-section">
                                <div class="form-container">
                                    <div class="form-apartment-choose gap-10">
                                        <div class="form-apartment-choose-title">
                                            АПАРТАМЕНТЫ
                                        </div>
                                        <div class="form-apartment-items">
                                            {% for apartment in apartments %}
                                                <input id="apartment" type="button" class="choose-input shadow-normal-blur
                                                    {% if apartment.id == default_apartment.id %}active{% endif %}"
                                                    value="{{ apartment.title.upper }}" data-price="{{ apartment.daily_price }}"
                                                    data-id="{{ apartment.id }}" data-guest="{{ apartment.guest_count }}"
                                                >
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-container gap-30">
                                    <div class="form-search-apartment-grid">
                                        <div class="search-apartment-dropdown shadow-normal-blur">
                                            <div class="search-apartment-dropdown-header" id="datepicker-checkin">
                                                    <span class="search-apartment-dropdown-title" id="check_in_date">
                                                        {% if check_in_date %}
                                                            {{ check_in_date }}
                                                        {% else %}
                                                            ЗАЕЗД
                                                        {% endif %}
                                                    </span>
                                                <i class="fa-solid fa-calendar-days"></i>
                                            </div>
                                        </div>
                                        <div class="search-apartment-dropdown shadow-normal-blur">
                                            <div class="search-apartment-dropdown-header" id="datepicker-checkout">
                                                <span class="search-apartment-dropdown-title" id="check_out_date">
                                                    {% if check_out_date %}
                                                        {{ check_out_date }}
                                                    {% else %}
                                                        ВЫЕЗД
                                                    {% endif %}
                                                </span>
                                                <i class="fa-solid fa-calendar-days"></i>
                                            </div>
                                        </div>

                                        <div class="search-apartment-dropdown form-search-apartment-grid-2x2">
                                            <div class="search-apartment-dropdown-header shadow-normal-blur">
                                                <span class="search-apartment-dropdown-title">
                                                    ГОСТИ
                                                </span>
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </div>
                                            <div class="search-apartment-dropdown-footer">
                                                <div class="search-apartment-dropdown-footer-counter" id="adultCounter">
                                                    <span class="apartment-dropdown-footer-counter-title">
                                                        ВЗРОСЛЫЕ
                                                    </span>
                                                    <div class="apartment-dropdown-footer-counter-control">
                                                        <i class="fa-solid fa-square-plus" id="adultIncrement" onclick="incrementCounter('guests')"></i>
                                                        <span id="guests_count" data-guest="{{ default_apartment.guest_count }}">{% if adult_count > 1 %}{{ adult_count }}{% else %}1{% endif %}</span>
                                                        <i class="fa-solid fa-square-minus" id="adultDecrement" onclick="decrementCounter('guests')"></i>
                                                    </div>
                                                </div>

                                                <div class="search-apartment-dropdown-footer-counter" id="childCounter">
                                                    <span class="apartment-dropdown-footer-counter-title">
                                                        ДЕТИ
                                                    </span>
                                                    <div class="apartment-dropdown-footer-counter-control">
                                                        <i class="fa-solid fa-square-plus" id="childIncrement" onclick="incrementCounter('children')"></i>
                                                        <span id="children_count">{% if children_count >= 0 %}{{ children_count }}{% else %}0{% endif %}</span>
                                                        <i class="fa-solid fa-square-minus" id="childDecrement" onclick="decrementCounter('children')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script src="{% static 'js/apartment-dropdown-active.js' %}"></script>

                                    <div class="form-contact-information">
                                        <div class="form-contact-information-items">
                                            <input type="input" id="client_surname" class="text-input shadow-normal-blur" placeholder="ФАМИЛИЯ">
                                            <input type="input" id="client_name" class="text-input shadow-normal-blur" placeholder="ИМЯ">
                                            <input type="input" id="client_father_name" class="text-input shadow-normal-blur" placeholder="ОТЧЕСТВО">
                                            <input type="input" id="client_phone" class="text-input shadow-normal-blur" placeholder="ТЕЛЕФОН">
                                            <input type="input" id="client_mail" class="text-input shadow-normal-blur" placeholder="E-MAIL">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-container">
                                    <div class="form-total-sum">
                                        <span class="form-total-sum-info">ПРЕДВАРИТЕЛЬНАЯ СТОИМОСТЬ: <span id="totalCost">{{ default_apartment.daily_price | floatformat }}</span> BYN</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-guest-information gap-10">
                                <div class="form-guest-information-title">
                                    ИНФОРМАЦИЯ О ГОСТЯХ
                                </div>
                                <div class="form-guest-information-items" id="guestInformationContainer">
                                    <div class="form-guest-information-item">
                                        <input type="input" class="text-input shadow-normal-blur" placeholder="ФАМИЛИЯ">
                                        <input type="input" class="text-input shadow-normal-blur" placeholder="ИМЯ">
                                        <input type="input" class="text-input shadow-normal-blur" placeholder="ОТЧЕСТВО">
                                        <div class="form-guest-information-citizenship">
                                            <div class="form-guest-information-citizenship-title">
                                                ГРАЖДАНСТВО:
                                            </div>
                                            <div class="form-guest-information-citizenship-items">
                                                <input type="button" class="choose-input shadow-normal-blur active" value="РБ">
                                                <input type="button" class="choose-input shadow-normal-blur" value="РФ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if online_payment %}
                            <div class="form-online-payment gap-10">
                                <div class="form-online-payment-title">
                                    ОНЛАЙН ОПЛАТА БРОНИРОВАНИЯ
                                </div>
                                <div class="form-online-payment-description">
                                    Оплачивается вся сумма брони.<br>
                                    Данный способ оплаты поддерживает платежи только с карт, выпущенных белорусскими банками.<br>
                                    Кассовый чек в электронном виде будет предоставлен компанией <a class="url-decorate-underline" href="https://www.alfabank.by/" target="_blank">Альфа-банк</a>. Вы получите его после оплаты на адрес электронной почты, который указали при бронировании.
                                </div>
                                <div class="form-online-payment-methods">
                                    <i class="fa-brands fa-cc-visa"></i>
                                    <i class="fa-brands fa-cc-mastercard"></i>
                                </div>
                                <input type="button" id="btn-online-pay" class="button-input shadow-normal-blur" onclick="handleBookingForm('ON')" value="Оплатить">
                            </div>
                            {% endif %}

                            <div class="form-offline-payment gap-10">
                                <div class="form-online-payment-title">
                                    ОПЛАТА ПРИ ЗАСЕЛЕНИИ
                                </div>
                                <div class="form-online-payment-description">
                                    Без предоплаты.<br>
                                    Администратор свяжется с вами по контактному номеру телефона для подтверждения бронирования и уточнения всех необходимых деталей.
                                </div>
                                <input type="button" class="button-input shadow-normal-blur" onclick="handleBookingForm('OF')" value="Оставить заявку">
                            </div>

                            <div class="form-privacy-policy">
                                <input id="privacy_policy" type="checkbox" name="">
                                <span>Я даю согласие на <a class="url-decorate-underline" href="{% url 'index:policy' %}" target="_blank">обработку персональных данных</a></span>
                            </div>
                            <div class="g-recaptcha" id="booking-recaptcha" data-sitekey="{{ recaptcha_public_key }}" data-callback="handleBookingCaptcha" data-expired-callback="closeEmailModal" style="width: fit-content"></div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock main %}

{% block script %}
    <script src="{% static 'js/booking-active-items.js' %}?v=1"></script>
    <script src="{% static 'js/generate-guest-form.js' %}?v=1"></script>
    <script src="{% static 'js/datepicker-booking.js' %}?v=1.4"></script>
    <script src="{% static 'js/processing-booking-form.js' %}?v=1.2"></script>
    <script src="{% static 'js/resend-email-code.js' %}?v=1"></script>
{% endblock script %}