@import "variables.css";

header{
    width: 100%;
    position: fixed;
    color: var(--white-color);
    background-color: var(--blue-color);
    z-index: var(--header-index);
    padding: 15px 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-logo img{
    width: 55px;
}

.nav-right{
    display: flex;
    font-size: var(--button-font);
    gap: 15px;
}

.nav-right-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-right-top-container{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-btn-call, .nav-btn-book{
    border: 1px var(--white-color) solid;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-btn-call:hover, .nav-btn-book:hover{
    background: var(--white-color);
    color: var(--blue-color);
}

.nav-btn-phone{
    cursor: pointer;
}

.nav-social-contacts-container{
    display: flex;
    gap: 15px;
}

.nav-social-contacts-container i{
    font-size: var(--default-icon-size);
}

.nav-social-contacts-container i:hover{
    scale: 1.25;
}

.nav-dropdown-lang span{
    cursor: pointer;
}

.nav-right-bottom-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-dropdown-items-container{
    display: flex;
    gap: 15px;
}

.nav-dropdown-item-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-dropdown-item:hover .fa-caret-down,
.nav-dropdown-lang:hover .fa-caret-down {
    transform: rotate(180deg);
}

.nav-dropdown-links {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--blue-color);
    padding: 10px;
    white-space: nowrap;
    border-radius: 10px;
    gap: 10px;
}

.nav-lang-container .nav-dropdown-links{
    background-color: var(--white-color);
    color: var(--blue-color);
}

.nav-dropdown-link{
    position: relative;
}

.nav-dropdown-item-container:hover .nav-dropdown-links {
    display: flex;
    flex-direction: column;
}

.nav-right-bottom-container .nav-dropdown-link:hover {
    right: -5px;
}

.nav-mobile-menu-container{
    display: none;
    align-items: center;
}

.nav-mobile-menu-container i{
    font-size: var(--default-icon-size);
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px){
    .nav-right-bottom-container, .nav-social-contacts-container, .nav-lang-container{
        display: none;
    }

    .nav-mobile-menu-container{
        display: flex;
    }
}

@media (max-width: 768px){
    .nav-right-bottom-container, .nav-right-top-container *{
        display: none;
    }

    .nav-btn-phone{
        display: flex;
    }

    .nav-mobile-menu-container{
        display: flex;
    }

    .nav-logo img{
        width: 35px;
    }
}