{% extends "base/base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock link %}

{% block title %}
    ПАРК ОТЕЛЬ ZORKA
{% endblock title %}

{% block main %}

    <section class="content-section main-padding ">
        <div class="content-container flex-column">
            <div class="content-container-items align-items-center">
                <div class="content-title color-blue">
                    ГАЛЕРЕЯ
                </div>

                <div class="content-items">
                    {% for category in categories %}
                        <div class="grid-item shadow" onclick="window.location.href='{% url 'index:photo_subcategory' category.slug %}'">
                            <div class="grid-item-image" style="background-image: url({{ category.image.url }});"></div>
{#                            <div class="grid-item-image" style="background-image: url({% static 'img/backgrounds/background-image.jpg' %});"></div>#}
                            <div class="grid-item-title">{{ category.name.upper }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}