{% extends "base/base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/modal-gallery.css' %}">

<script src="{% static 'js/modal-gallery.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
{% endblock link %}

{% block title %}
    ПАРК ОТЕЛЬ ZORKA
{% endblock title %}

{% block main %}

    <section class="content-section main-padding">
            <div class="content-container flex-column">
                <div class="content-container-items">
                    <div class="content-title color-dark-blue">
                        {{ category }}
                    </div>

                    {% include 'index/gallery/photo_gallery/photo_gallery_item.html' %}

                    <div class="modal" id="myModal">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <div class="modal-container">
                            <img class="modal-content" id="modalImg">
                            <div class="modal-caption" id="caption"></div>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock main %}
