{% load static %}
<!-- ======== CALLBACK ======== -->
<div class="background__callback" id="callbackForm">
    <div class="callback">
        <div class="callback__header">
            <span class="header__title">Заказать звонок</span>
            <div class="close__callback">
                <i class="fa-solid fa-xmark" id="closeCallback"></i>
            </div>
        </div>
        <div class="callback__main">
            <div class="main__input">
                <span class="input__title">
                    Ваше имя<span style="color: red;">*</span>
                </span>
                <input type="text">
            </div>

            <div class="main__input">
                <span class="input__title">
                    Телефон<span style="color: red;">*</span>
                </span>
                <input type="text">
            </div>

            <div class="main__check">
                <input type="checkbox" name="" id="">
                <span>Я согласен на<a href="#">обработку персональных данных</a></span>
            </div>

            <div class="main__bottom">
                <span>Заказать</span>
            </div>
        </div>
    </div>
</div>
