{% load static %}
{% load i18n %}
<!-- ======== HEADER ======== -->
<header class="header" id="header">
    <nav class="nav container">
        <div class="nav__left">
            <!-- ======== NAVIGATION TOGGLE ======== -->
            <div class="nav__menu" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!-- ======== HEADER LOGO ======== -->
            <a href="#" class="nav__logo">
                <img src="/static/img/LogoZORKA-White.png" alt="logo">
            </a>
        </div>

        <!-- ======== NAVIGATION MENU ======== -->
        <div class="nav__menu" id="nav-menu">
            <!-- ======== TOP MENU ======== -->
            <div class="nav__menu_top">
                <span class="nav__call" id="navCall">{% trans 'ЗАКАЗАТЬ ЗВОНОК' %}</span>
                <span class="nav__book">{% trans 'БРОНИРОВАНИЕ' %}</span>
                <span class="nav__contact">+375 29 169 91 06</span>
                <div class="nav__column_mobile">
                    <div class="nav__socials">
                        <i class="fab fa-viber"></i>
                        <i class="fab fa-telegram"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>

                    <!-- ======== CHOOSE LANGUAGE ======== -->
                    <div class="nav__lang">
                        <ul>
                            <li class="dropdown__lang">
                                <div class="nav__link">
                                    <span class="nav__lang_selected" id="nav-lang-selected">{{ cur_lang }}</span>
                                    <span class="nav__lang_arrow"><i class="fa-solid fa-caret-down"></i></span>
                                </div>

                                <ul class="dropdown__lang_menu">
                                    {% if cur_lang == 'en' %}
                                        <a href="{% url 'set_language' 'ru' %}" class="dropdown__link">ru</a>
                                    {% else %}
                                        <a href="{% url 'set_language' 'en' %}" class="dropdown__link">en</a>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ======== BOTTOM MENU ======== -->
            <div class="nav__menu_bottom">
                <ul class="nav__list">
                    <li class="dropdown__item">
                        <div class="nav__link">
                            <a href="#">{% trans 'О нас' %} <i class="fa-solid fa-caret-down"></i></a>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-money-bill"></i> {% trans 'Бронирование и оплата' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-earth-europe"></i> {% trans 'Территория' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-regular fa-comment-dots"></i> {% trans 'Отзывы' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-circle-info"></i> {% trans 'О компании' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            <a href="#">{% trans 'Апартаменты' %} <i class="fa-solid fa-caret-down"></i></a>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house"></i>{% trans 'Дом' %} 1
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house-chimney"></i> {% trans 'Дом' %} 2
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house-chimney-window"></i> {% trans 'Дом' %} 3
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-hotel"></i> {% trans 'Гостиница' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            <a href="#">{% trans 'Услуги' %} <i class="fa-solid fa-caret-down"></i></a>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-clock"></i> {% trans 'Прокат и аренда' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-utensils"></i> {% trans 'Ресторан' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-truck"></i> {% trans 'Доставка еды' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i> {% trans 'Трансфер' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            <a href="#">{% trans 'Мероприятия' %} <i class="fa-solid fa-caret-down"></i></a>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-ring"></i> {% trans 'Свадьба' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-champagne-glasses"></i> {% trans 'Корпоратив' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-people-line"></i> {% trans 'Конференция' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-cake-candles"></i> {% trans 'День рождения' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-person-biking"></i> {% trans 'Спортивные мероприятия' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            <a href="#">{% trans 'Галерея' %} <i class="fa-solid fa-caret-down"></i></a>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-image"></i> {% trans 'Фотогалерея' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-film"></i> {% trans 'Видеогалерея' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-panorama"></i> {% trans 'Виртуальный тур' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <a href="#" class="nav__link">
                            {% trans 'Контакты' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ======== NAVIGATION MENU MOBILE ======== -->
        <div class="nav__menu_mobile" id="menu-mobile">
            <div class="mobile__header">
                <!-- ======== MENU LOGO ======== -->
                <a href="#" class="nav__logo">
                    <img src="/static/img/LogoZORKA-White.png" alt="logo">
                </a>
                <!-- ======== MENU CLOSE ======== -->
                <div class="mobile__close" id="nav-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>

            <!-- ======== MOBILE NAVIGATION ======== -->
            <div class="mobile__container">
                <ul class="mobile__nav_list">
                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'Апартаменты' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house"></i>{% trans 'Дом' %} 1
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house-chimney"></i> {% trans 'Дом' %} 2
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-house-chimney-window"></i> {% trans 'Дом' %} 3
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-hotel"></i> {% trans 'Гостиница' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'Услуги' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-clock"></i> {% trans 'Прокат и аренда' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-utensils"></i> {% trans 'Ресторан' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-truck"></i> {% trans 'Доставка еды' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i> {% trans 'Трансфер' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'Мероприятия' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-ring"></i> {% trans 'Свадьба' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-champagne-glasses"></i> {% trans 'Корпоратив' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-people-line"></i> {% trans 'Конференция' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-cake-candles"></i> {% trans 'День рождения' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-person-biking"></i> {% trans 'Спортивные мероприятия' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'Галерея' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-image"></i> {% trans 'Фотогалерея' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-film"></i> {% trans 'Видеогалерея' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-panorama"></i> {% trans 'Виртуальный тур' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'Контакты' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-phone"></i> {% trans 'Телефоны' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-map"></i> {% trans 'Как добраться' %}
                            </a>
                        </ul>
                    </li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            {% trans 'О нас' %} <i class="fa-solid fa-caret-down"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-money-bill"></i> {% trans 'Бронирование и оплата' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-earth-europe"></i> {% trans 'Территория' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-sailboat"></i> {% trans 'Услуги' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-calendar-days"></i> {% trans 'Мероприятия' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-solid fa-photo-film"></i> {% trans 'Галерея' %}
                            </a>

                            <a href="#" class="dropdown__link">
                                <i class="fa-regular fa-comment-dots"></i> {% trans 'Отзывы' %}
                            </a>
                        </ul>
                    </li>
                </ul>
                <span class="mobile__nav_book">{% trans 'БРОНИРОВАНИЕ' %}</span>
                <span class="mobile__nav_call" style="margin-bottom: 20px;" id="navCallMobile">{% trans 'ЗАКАЗАТЬ ЗВОНОК' %}</span>
            </div>
        </div>
    </nav>
</header>